// FONTS
$monospace-font: monospace;
$main-font: "Roboto", sans-serif;

// COLORS

$color-white: #fff;
$color-black: #000;
$color-dark-grey: #1e1e1e;
$color-crimson: #b53f53;
$color-red: #bb3f3f;
$color-green: #53bb53;

// FONT SIZES

$font-size-base: 1.6rem;
$font-size-lg: 1.8rem;

// BREAKPOINTS

$desktop-s: 1280px;
